KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

include $(ARCHDIR)/driver/make.config

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/low_support.o \
$(ARCHDIR)/cpu_setup.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/uart.o \
$(KERNEL_DRIVER_OBJS) \
