KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

include $(ARCHDIR)/driver/make.config

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/interrupt_handler.o \
$(ARCHDIR)/trap.o \
$(ARCHDIR)/keyboard.o \
$(KERNEL_DRIVER_OBJS) \
